.white-tooltip {
    -fx-background-color:white;
    -fx-color-label-visible: true;
    -fx-text-fill:black;
}

.group-cell .text
{
    -fx-font-weight: bold;
}

.flat {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.flat:hover{
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.flat:armed {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2);
}

.text-field.error {
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.ribbon-group .button.letter-button
{
    -fx-font-size: 2em;
    -fx-min-width: 50;
}

.ribbon-group .button
{
    -fx-alignment: CENTER;
}

.ribbon-group .button.left-align
{
    -fx-alignment: CENTER_LEFT;
}

.ribbon-group .button .text
{
    -fx-text-alignment: center;
}

.ribbon-group .button.letter-button .text
{
    -fx-font-weight: bold;
    -fx-text-fill:black;
}