.code-area .css-default {
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-fill: black;
}

.code-area .comment
{
    -fx-fill: #008000;
}

.code-area .text.css-selector, .code-area .text.css-property-value
{
    -fx-fill: #000080;
    -fx-font-weight: bold;
}

.code-area .text.css-textvalue
{
    -fx-fill: #008000;
    -fx-font-weight: bold;
}

.code-area .text.css-number
{
    -fx-fill: #0000FF;
    -fx-font-weight: normal;
}

.code-area .text.css-comment
{
    -fx-fill: #008000;
    -fx-font-style: italic;
}

