.code-area .css-default {
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-fill: black;
}

.code-area .text.selector, .code-area .text.color
{
    -fx-fill: #000080;
    -fx-font-weight: bold;
}

.code-area .text.string
{
    -fx-fill: #008000;
    -fx-font-weight: bold;
}

.code-area .text.value
{
    -fx-fill: #008000;
    -fx-font-weight: bold;
}

.code-area .text.number
{
    -fx-fill: #0000FF;
    -fx-font-weight: normal;
}

.code-area .text.comment
{
    -fx-fill: #008000;
    -fx-font-style: italic;
}

.code-area .text.semicolon {
    -fx-font-weight: bold;
}

.code-area .text.control {
    -fx-fill: #6A8088;
    -fx-background-color: #6b8189;
    -fx-font-weight: bold;
}
