.tagmark {
    -fx-fill: black;
}

.opentag, .closetag {
    -fx-fill: #000080;
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.attribute {
    -fx-fill: black;
}

.attribute-value {
    -fx-fill: #008000;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: #008000;
}

.spell-check-error {
    -rtfx-underline-color: indianred;
    -rtfx-underline-dash-array: 2px 2px;
    -rtfx-underline-width: 2px;
    -rtfx-underline-cap: butt;
}

.spell-check-other {
    -rtfx-underline-color: blueviolet;
    -rtfx-underline-dash-array: 2px 2px;
    -rtfx-underline-width: 2px;
    -rtfx-underline-cap: butt;
}

.spell-check-hint {
    -rtfx-background-color: #f0f0f0;
}

