.tagmark {
    -fx-fill: black;
}

.opentag, .closetag {
    -fx-fill: #000080;
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.attribute {
    -fx-fill: black;
}

.attribute-value {
    -fx-fill: #008000;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: #008000;
}

.entity {
    -fx-fill: #20999D;
}
